:80 {
    handle /lua-proxy/* {
        lua {
            content <<-EOL
                function handle(r)
                    local ip = r.path:match("^/lua-proxy/([0-9a-fA-F:]+)$")
                    if ip then
                        r:header("Location", "http://[" .. ip .. "]")
                        r:respond(302, "", {["Content-Type"] = "text/plain"})
                    else
                        r:respond(400, "Invalid IPv6 address", {["Content-Type"] = "text/plain"})
                    end
                end
            EOL
        }
    }
}
