:80 {
    respond "Caddy działa! 🚀 Proxy jest dostępne pod /proxy/[IPv6]" 

    handle_path /proxy/* {
        uri strip_prefix /proxy
        reverse_proxy http://[200:2be8:2285:7c01:8c61:a3c:bad2:39aa]:80
    }
}
